body{
    background-color: rgb(50, 50, 50);
}

#label{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    position: fixed;
    left: 5%;
}

#upd{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    position: fixed;
    left: 98%;
    top: 97%;
}

#input{
    width: 500px;
    height: 60px;
    position: fixed;
    left: 40%;
    top: 50%;
    resize: none;
    border: none;
    background-color: rgb(70,70,70);
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
}

#button{
    padding: 5px 50px;
    position: fixed;
    left: 49%;
    top: 60%;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    border: none;
    background-color: rgb(70,70,70);
}

#output{
    position: fixed;
    top: 90%;
    resize: none;
    border: none;
    background-color: rgb(70,70,70);
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
}
